@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-MlKOiJ57N_JD: 1px;
  --plasmic-token-unnamed-style-token: var(--token-MlKOiJ57N_JD);
  --token-6ofeE4DSeXDu: var(--token-zfllgUwhh-_2);
  --plasmic-token-unnamed-style-token-2: var(--token-6ofeE4DSeXDu);
  --token-zfllgUwhh-_2: #535353;
  --plasmic-token-unnamed-style-token-3: var(--token-zfllgUwhh-_2);
  --token-oAveRd-yZR6b: #535353;
  --plasmic-token-unnamed-style-token-4: var(--token-oAveRd-yZR6b);
  --token-13lmJCVrrdtJ: #535353;
  --plasmic-token-unnamed-style-token-5: var(--token-13lmJCVrrdtJ);
  --token-he8y9L0Fj9e2: #535353;
  --plasmic-token-unnamed-style-token-6: var(--token-he8y9L0Fj9e2);
  --token-QHASIbBriLz5: var(--token-tCOWbPloI2Nq);
  --plasmic-token-unnamed-style-token-7: var(--token-QHASIbBriLz5);
  --token-tCOWbPloI2Nq: var(--token-xdn6JwcoeYg-);
  --plasmic-token-unnamed-style-token-8: var(--token-tCOWbPloI2Nq);
  --token-xdn6JwcoeYg-: var(--token-CYPlvvZmibmJ);
  --plasmic-token-unnamed-style-token-9: var(--token-xdn6JwcoeYg-);
  --token-CYPlvvZmibmJ: var(--token-6OR3BcxceMGW);
  --plasmic-token-unnamed-style-token-10: var(--token-CYPlvvZmibmJ);
  --token-6OR3BcxceMGW: #35b0d1;
  --plasmic-token-unnamed-style-token-11: var(--token-6OR3BcxceMGW);
  --token-TjvsmQai8Y2u: #35b0d1;
  --plasmic-token-unnamed-style-token-12: var(--token-TjvsmQai8Y2u);
  --token-2_fEMr-aw2eP: #ff7613;
  --plasmic-token-unnamed-style-token-13: var(--token-2_fEMr-aw2eP);
  --token-BhsJPW8OZ57v: var(--token-Kj2JoCxQciHQ);
  --plasmic-token-background-color-1-f-7926: var(--token-BhsJPW8OZ57v);
  --token-Kj2JoCxQciHQ: #1f7926;
  --plasmic-token-1-f-7926: var(--token-Kj2JoCxQciHQ);
  --token-k8XHklAgJNjO: #1f7926;
  --plasmic-token-unnamed-style-token-15: var(--token-k8XHklAgJNjO);
  --token-Sp8x9Nu6dlg3: #f35500;
  --plasmic-token-unnamed-style-token-14: var(--token-Sp8x9Nu6dlg3);
  --token-a08qTbcOa7eR: #387fcb;
  --plasmic-token-unnamed-style-token-16: var(--token-a08qTbcOa7eR);
  --token-xZqLvuvWr4EU: #9dd3e1;
  --plasmic-token-unnamed-style-token-17: var(--token-xZqLvuvWr4EU);
  --token-esU9fk7vIAdQ: #dcdcd0;
  --plasmic-token-unnamed-style-token-22: var(--token-esU9fk7vIAdQ);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-TjvsmQai8Y2u: #15a1c6;
    --plasmic-token-unnamed-style-token-12: var(--token-TjvsmQai8Y2u);
    --token-2_fEMr-aw2eP: #f35900;
    --plasmic-token-unnamed-style-token-13: var(--token-2_fEMr-aw2eP);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin--lKR-1Xo65fe_font-family: "Inter", sans-serif;
  --mixin--lKR-1Xo65fe_font-size: 16px;
  --mixin--lKR-1Xo65fe_font-weight: 400;
  --mixin--lKR-1Xo65fe_font-style: normal;
  --mixin--lKR-1Xo65fe_color: #535353;
  --mixin--lKR-1Xo65fe_text-align: left;
  --mixin--lKR-1Xo65fe_text-transform: none;
  --mixin--lKR-1Xo65fe_line-height: 1.5;
  --mixin--lKR-1Xo65fe_letter-spacing: normal;
  --mixin--lKR-1Xo65fe_white-space: pre-wrap;
  --mixin--lKR-1Xo65fe_user-select: text;
  --mixin--lKR-1Xo65fe_text-decoration-line: none;
  --mixin--lKR-1Xo65fe_text-overflow: clip;
  --mixin-c0FJobcF190A_color: #000000;
  --mixin-c0FJobcF190A_font-weight: 900;
  --mixin-c0FJobcF190A_font-size: 72px;
  --mixin-c0FJobcF190A_line-height: 1;
  --mixin-c0FJobcF190A_letter-spacing: -4px;
  --mixin-c0FJobcF190A_white-space: pre-wrap;
  --mixin-tvbMPlQXakEK_color: #000000;
  --mixin-tvbMPlQXakEK_font-size: 48px;
  --mixin-tvbMPlQXakEK_font-weight: 700;
  --mixin-tvbMPlQXakEK_letter-spacing: -1px;
  --mixin-tvbMPlQXakEK_line-height: 1.1;
  --mixin-tvbMPlQXakEK_white-space: pre-wrap;
  --mixin-1RDpqWB_JWXs_color: #0070f3;
  --mixin-1RDpqWB_JWXs_white-space: pre-wrap;
  --mixin-kL1ybHfsz6lJ_color: #000000;
  --mixin-kL1ybHfsz6lJ_font-size: 32px;
  --mixin-kL1ybHfsz6lJ_font-weight: 600;
  --mixin-kL1ybHfsz6lJ_letter-spacing: -0.8px;
  --mixin-kL1ybHfsz6lJ_line-height: 1.2;
  --mixin-kL1ybHfsz6lJ_white-space: pre-wrap;
  --mixin-z0KusnMqQrWo_color: #000000;
  --mixin-z0KusnMqQrWo_font-size: 24px;
  --mixin-z0KusnMqQrWo_font-weight: 600;
  --mixin-z0KusnMqQrWo_letter-spacing: -0.5px;
  --mixin-z0KusnMqQrWo_line-height: 1.3;
  --mixin-z0KusnMqQrWo_white-space: pre-wrap;
  --mixin-lcdrSG1daAmR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lcdrSG1daAmR_border-bottom-color: #dddddd;
  --mixin-lcdrSG1daAmR_border-bottom-style: solid;
  --mixin-lcdrSG1daAmR_border-bottom-width: 1px;
  --mixin-lcdrSG1daAmR_border-left-color: #dddddd;
  --mixin-lcdrSG1daAmR_border-left-style: solid;
  --mixin-lcdrSG1daAmR_border-left-width: 1px;
  --mixin-lcdrSG1daAmR_border-right-color: #dddddd;
  --mixin-lcdrSG1daAmR_border-right-style: solid;
  --mixin-lcdrSG1daAmR_border-right-width: 1px;
  --mixin-lcdrSG1daAmR_border-top-color: #dddddd;
  --mixin-lcdrSG1daAmR_border-top-style: solid;
  --mixin-lcdrSG1daAmR_border-top-width: 1px;
  --mixin-lcdrSG1daAmR_border-bottom-left-radius: 3px;
  --mixin-lcdrSG1daAmR_border-bottom-right-radius: 3px;
  --mixin-lcdrSG1daAmR_border-top-left-radius: 3px;
  --mixin-lcdrSG1daAmR_border-top-right-radius: 3px;
  --mixin-lcdrSG1daAmR_font-family: "Inconsolata";
  --mixin-lcdrSG1daAmR_padding-bottom: 1px;
  --mixin-lcdrSG1daAmR_padding-left: 4px;
  --mixin-lcdrSG1daAmR_padding-right: 4px;
  --mixin-lcdrSG1daAmR_padding-top: 1px;
  --mixin-lcdrSG1daAmR_white-space: pre-wrap;
  --mixin-05RvXlV5QmCu_border-left-color: #dddddd;
  --mixin-05RvXlV5QmCu_border-left-style: solid;
  --mixin-05RvXlV5QmCu_border-left-width: 3px;
  --mixin-05RvXlV5QmCu_color: #888888;
  --mixin-05RvXlV5QmCu_padding-left: 10px;
  --mixin-05RvXlV5QmCu_white-space: pre-wrap;
  --mixin-UKWU06Xzo7PM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UKWU06Xzo7PM_border-bottom-color: #dddddd;
  --mixin-UKWU06Xzo7PM_border-bottom-style: solid;
  --mixin-UKWU06Xzo7PM_border-bottom-width: 1px;
  --mixin-UKWU06Xzo7PM_border-left-color: #dddddd;
  --mixin-UKWU06Xzo7PM_border-left-style: solid;
  --mixin-UKWU06Xzo7PM_border-left-width: 1px;
  --mixin-UKWU06Xzo7PM_border-right-color: #dddddd;
  --mixin-UKWU06Xzo7PM_border-right-style: solid;
  --mixin-UKWU06Xzo7PM_border-right-width: 1px;
  --mixin-UKWU06Xzo7PM_border-top-color: #dddddd;
  --mixin-UKWU06Xzo7PM_border-top-style: solid;
  --mixin-UKWU06Xzo7PM_border-top-width: 1px;
  --mixin-UKWU06Xzo7PM_border-bottom-left-radius: 3px;
  --mixin-UKWU06Xzo7PM_border-bottom-right-radius: 3px;
  --mixin-UKWU06Xzo7PM_border-top-left-radius: 3px;
  --mixin-UKWU06Xzo7PM_border-top-right-radius: 3px;
  --mixin-UKWU06Xzo7PM_font-family: "Inconsolata";
  --mixin-UKWU06Xzo7PM_padding-bottom: 3px;
  --mixin-UKWU06Xzo7PM_padding-left: 6px;
  --mixin-UKWU06Xzo7PM_padding-right: 6px;
  --mixin-UKWU06Xzo7PM_padding-top: 3px;
  --mixin-UKWU06Xzo7PM_white-space: pre-wrap;
  --mixin-kWFARIpkUIyq_display: flex;
  --mixin-kWFARIpkUIyq_flex-direction: column;
  --mixin-kWFARIpkUIyq_align-items: stretch;
  --mixin-kWFARIpkUIyq_justify-content: flex-start;
  --mixin-kWFARIpkUIyq_list-style-position: outside;
  --mixin-kWFARIpkUIyq_padding-left: 40px;
  --mixin-kWFARIpkUIyq_position: relative;
  --mixin-kWFARIpkUIyq_list-style-type: disc;
  --mixin-kWFARIpkUIyq_white-space: pre-wrap;
  --mixin-RPQaeC1zJqaz_display: flex;
  --mixin-RPQaeC1zJqaz_flex-direction: column;
  --mixin-RPQaeC1zJqaz_align-items: stretch;
  --mixin-RPQaeC1zJqaz_justify-content: flex-start;
  --mixin-RPQaeC1zJqaz_list-style-position: outside;
  --mixin-RPQaeC1zJqaz_padding-left: 40px;
  --mixin-RPQaeC1zJqaz_position: relative;
  --mixin-RPQaeC1zJqaz_list-style-type: decimal;
  --mixin-RPQaeC1zJqaz_white-space: pre-wrap;
  --mixin-ge15GVU0WgxS_color: #000000;
  --mixin-ge15GVU0WgxS_font-size: 20px;
  --mixin-ge15GVU0WgxS_font-weight: 600;
  --mixin-ge15GVU0WgxS_letter-spacing: -0.3px;
  --mixin-ge15GVU0WgxS_line-height: 1.5;
  --mixin-ge15GVU0WgxS_white-space: pre-wrap;
  --mixin-EBkNc2E6PiSk_color: #000000;
  --mixin-EBkNc2E6PiSk_font-size: 16px;
  --mixin-EBkNc2E6PiSk_font-weight: 600;
  --mixin-EBkNc2E6PiSk_line-height: 1.5;
  --mixin-EBkNc2E6PiSk_white-space: pre-wrap;
  --mixin-XjSfse4sTgdw_color: #3291ff;
  --mixin-XjSfse4sTgdw_white-space: pre-wrap;
  --mixin-3x0YFTcMfJm5_white-space: pre-wrap;
  --mixin-FW3LWB_y1c9i_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin--lKR-1Xo65fe_font-family);
  font-size: var(--mixin--lKR-1Xo65fe_font-size);
  font-weight: var(--mixin--lKR-1Xo65fe_font-weight);
  font-style: var(--mixin--lKR-1Xo65fe_font-style);
  color: var(--mixin--lKR-1Xo65fe_color);
  text-align: var(--mixin--lKR-1Xo65fe_text-align);
  text-transform: var(--mixin--lKR-1Xo65fe_text-transform);
  line-height: var(--mixin--lKR-1Xo65fe_line-height);
  letter-spacing: var(--mixin--lKR-1Xo65fe_letter-spacing);
  white-space: var(--mixin--lKR-1Xo65fe_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-c0FJobcF190A_color);
  font-weight: var(--mixin-c0FJobcF190A_font-weight);
  font-size: var(--mixin-c0FJobcF190A_font-size);
  line-height: var(--mixin-c0FJobcF190A_line-height);
  letter-spacing: var(--mixin-c0FJobcF190A_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-tvbMPlQXakEK_color);
  font-size: var(--mixin-tvbMPlQXakEK_font-size);
  font-weight: var(--mixin-tvbMPlQXakEK_font-weight);
  letter-spacing: var(--mixin-tvbMPlQXakEK_letter-spacing);
  line-height: var(--mixin-tvbMPlQXakEK_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-1RDpqWB_JWXs_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-kL1ybHfsz6lJ_color);
  font-size: var(--mixin-kL1ybHfsz6lJ_font-size);
  font-weight: var(--mixin-kL1ybHfsz6lJ_font-weight);
  letter-spacing: var(--mixin-kL1ybHfsz6lJ_letter-spacing);
  line-height: var(--mixin-kL1ybHfsz6lJ_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-z0KusnMqQrWo_color);
  font-size: var(--mixin-z0KusnMqQrWo_font-size);
  font-weight: var(--mixin-z0KusnMqQrWo_font-weight);
  letter-spacing: var(--mixin-z0KusnMqQrWo_letter-spacing);
  line-height: var(--mixin-z0KusnMqQrWo_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-lcdrSG1daAmR_font-family);
  border-radius: var(--mixin-lcdrSG1daAmR_border-top-left-radius)
    var(--mixin-lcdrSG1daAmR_border-top-right-radius)
    var(--mixin-lcdrSG1daAmR_border-bottom-right-radius)
    var(--mixin-lcdrSG1daAmR_border-bottom-left-radius);
  padding: var(--mixin-lcdrSG1daAmR_padding-top)
    var(--mixin-lcdrSG1daAmR_padding-right)
    var(--mixin-lcdrSG1daAmR_padding-bottom)
    var(--mixin-lcdrSG1daAmR_padding-left);
  border-top: var(--mixin-lcdrSG1daAmR_border-top-width)
    var(--mixin-lcdrSG1daAmR_border-top-style)
    var(--mixin-lcdrSG1daAmR_border-top-color);
  border-right: var(--mixin-lcdrSG1daAmR_border-right-width)
    var(--mixin-lcdrSG1daAmR_border-right-style)
    var(--mixin-lcdrSG1daAmR_border-right-color);
  border-bottom: var(--mixin-lcdrSG1daAmR_border-bottom-width)
    var(--mixin-lcdrSG1daAmR_border-bottom-style)
    var(--mixin-lcdrSG1daAmR_border-bottom-color);
  border-left: var(--mixin-lcdrSG1daAmR_border-left-width)
    var(--mixin-lcdrSG1daAmR_border-left-style)
    var(--mixin-lcdrSG1daAmR_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-05RvXlV5QmCu_color);
  padding-left: var(--mixin-05RvXlV5QmCu_padding-left);
  border-left: var(--mixin-05RvXlV5QmCu_border-left-width)
    var(--mixin-05RvXlV5QmCu_border-left-style)
    var(--mixin-05RvXlV5QmCu_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UKWU06Xzo7PM_font-family);
  border-radius: var(--mixin-UKWU06Xzo7PM_border-top-left-radius)
    var(--mixin-UKWU06Xzo7PM_border-top-right-radius)
    var(--mixin-UKWU06Xzo7PM_border-bottom-right-radius)
    var(--mixin-UKWU06Xzo7PM_border-bottom-left-radius);
  padding: var(--mixin-UKWU06Xzo7PM_padding-top)
    var(--mixin-UKWU06Xzo7PM_padding-right)
    var(--mixin-UKWU06Xzo7PM_padding-bottom)
    var(--mixin-UKWU06Xzo7PM_padding-left);
  border-top: var(--mixin-UKWU06Xzo7PM_border-top-width)
    var(--mixin-UKWU06Xzo7PM_border-top-style)
    var(--mixin-UKWU06Xzo7PM_border-top-color);
  border-right: var(--mixin-UKWU06Xzo7PM_border-right-width)
    var(--mixin-UKWU06Xzo7PM_border-right-style)
    var(--mixin-UKWU06Xzo7PM_border-right-color);
  border-bottom: var(--mixin-UKWU06Xzo7PM_border-bottom-width)
    var(--mixin-UKWU06Xzo7PM_border-bottom-style)
    var(--mixin-UKWU06Xzo7PM_border-bottom-color);
  border-left: var(--mixin-UKWU06Xzo7PM_border-left-width)
    var(--mixin-UKWU06Xzo7PM_border-left-style)
    var(--mixin-UKWU06Xzo7PM_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-kWFARIpkUIyq_display);
  flex-direction: var(--mixin-kWFARIpkUIyq_flex-direction);
  align-items: var(--mixin-kWFARIpkUIyq_align-items);
  justify-content: var(--mixin-kWFARIpkUIyq_justify-content);
  list-style-position: var(--mixin-kWFARIpkUIyq_list-style-position);
  padding-left: var(--mixin-kWFARIpkUIyq_padding-left);
  position: var(--mixin-kWFARIpkUIyq_position);
  list-style-type: var(--mixin-kWFARIpkUIyq_list-style-type);
  flex-column-gap: var(--mixin-kWFARIpkUIyq_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-RPQaeC1zJqaz_display);
  flex-direction: var(--mixin-RPQaeC1zJqaz_flex-direction);
  align-items: var(--mixin-RPQaeC1zJqaz_align-items);
  justify-content: var(--mixin-RPQaeC1zJqaz_justify-content);
  list-style-position: var(--mixin-RPQaeC1zJqaz_list-style-position);
  padding-left: var(--mixin-RPQaeC1zJqaz_padding-left);
  position: var(--mixin-RPQaeC1zJqaz_position);
  list-style-type: var(--mixin-RPQaeC1zJqaz_list-style-type);
  flex-column-gap: var(--mixin-RPQaeC1zJqaz_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-ge15GVU0WgxS_color);
  font-size: var(--mixin-ge15GVU0WgxS_font-size);
  font-weight: var(--mixin-ge15GVU0WgxS_font-weight);
  letter-spacing: var(--mixin-ge15GVU0WgxS_letter-spacing);
  line-height: var(--mixin-ge15GVU0WgxS_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-EBkNc2E6PiSk_color);
  font-size: var(--mixin-EBkNc2E6PiSk_font-size);
  font-weight: var(--mixin-EBkNc2E6PiSk_font-weight);
  line-height: var(--mixin-EBkNc2E6PiSk_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-XjSfse4sTgdw_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
