.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 740px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px var(--token-6ofeE4DSeXDu);
  border-radius: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
.desktop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  backdrop-filter: drop-shadow(10px 10px 10px #000000cc);
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000cc);
  padding: 15px 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .desktop {
    display: none;
  }
}
.freeBox__jvPmi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__unCzf {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/zendrop/images/image2.jpg") top 50% left 50% / cover repeat;
  margin-right: 25px;
  flex-shrink: 0;
  display: none;
  border-radius: 10px;
  padding: 8px;
}
.img__pAoay {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__pAoay > picture > img {
  object-fit: cover;
}
.img__pAoay > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__t6Aug {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  padding: 0px;
}
.freeBox__xFSx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-size: 24px;
  font-weight: 900;
  color: #636363;
}
.text__riywr {
  font-size: 18px;
  width: 210px;
  flex-shrink: 0;
}
.text__s3WPl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  color: #636363;
  display: none;
}
.freeBox___1IN6C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
.freeBox__iZMrk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.img__gkfaE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__gkfaE > picture > img {
  object-fit: cover;
}
.img__gkfaE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__zOUhB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xR7Sx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox___4Kfex {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__c2XmP {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot {
  font-size: 16px;
  font-weight: 600;
}
.slotTargetSlot > :global(.__wab_text),
.slotTargetSlot > :global(.__wab_expr_html_text),
.slotTargetSlot > :global(.__wab_slot-string-wrapper),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox__gappv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px 8px;
}
.link___4WEnO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #80cf9a;
  border-radius: 5px;
  padding: 0px 8px;
}
.text__hvVcU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
  margin-right: 15px;
  margin-left: 15px;
}
.freeBox__jcvpC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zRqxj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 5px 0px 0px;
}
.freeBox__k5LDi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__ss3ET {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gvOeY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__x3ZRb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__u9Svm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vfAcR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__sccW3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__sccW3 > picture > img {
  object-fit: cover;
}
.img__sccW3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__k2Gxs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  flex-shrink: 0;
  padding: 8px;
}
.text__tybo9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.freeBox__sUFu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox__cXpco {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__hgLa0 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot4 {
  font-size: 14px;
  font-weight: 600;
}
.slotTargetSlot4 > :global(.__wab_text),
.slotTargetSlot4 > :global(.__wab_expr_html_text),
.slotTargetSlot4 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot4 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot4 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot4 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox___4PeWf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__bs68A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__cFghj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__cFghj > picture > img {
  object-fit: cover;
}
.img__cFghj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___5Vjwm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  flex-shrink: 0;
  padding: 8px;
}
.text__auyGr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.freeBox__tzTU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox__jsXjW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__zUvh {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot5 {
  font-size: 14px;
  font-weight: 600;
}
.slotTargetSlot5 > :global(.__wab_text),
.slotTargetSlot5 > :global(.__wab_expr_html_text),
.slotTargetSlot5 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot5 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot5 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot5 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox___95TTd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qlD56 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__xqk6K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__xqk6K > picture > img {
  object-fit: cover;
}
.img__xqk6K > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__kCv2A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  flex-shrink: 0;
  padding: 8px;
}
.text__fkuf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.freeBox__fZuI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox___2Ssfp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__ifqvI {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot6 {
  font-size: 14px;
  font-weight: 600;
}
.slotTargetSlot6 > :global(.__wab_text),
.slotTargetSlot6 > :global(.__wab_expr_html_text),
.slotTargetSlot6 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot6 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot6 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot6 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.mobile {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  backdrop-filter: drop-shadow(10px 10px 10px #000000cc);
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000cc);
  padding: 12px;
}
.freeBox__xlRj4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__krg4I {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/zendrop/images/image2.jpg") top 50% left 50% / cover repeat;
  margin-right: 25px;
  flex-shrink: 0;
  display: none;
  border-radius: 10px;
  padding: 8px;
}
.img___5OLhD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img___5OLhD > picture > img {
  object-fit: cover;
}
.img___5OLhD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__bosYp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  padding: 0px;
}
.freeBox__drJpm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren2 {
  font-size: 24px;
  font-weight: 900;
  color: #636363;
}
.text__ltCD {
  font-size: 16px;
  width: 175px;
  flex-shrink: 0;
}
.text___7PFqq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  color: #636363;
  display: none;
}
.freeBox__j25Au {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 0px;
}
.link__bODlX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #80cf9a;
  min-width: 0;
  border-radius: 5px;
  padding: 0px 8px;
}
.text__tXh3O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: 12px;
  color: #ffffff;
  margin-right: 15px;
  margin-left: 15px;
}
.freeBox___4Buw4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox__vw2Aj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__pGor {
  position: relative;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot7 {
  font-size: 12px;
  font-weight: 600;
}
.slotTargetSlot7 > :global(.__wab_text),
.slotTargetSlot7 > :global(.__wab_expr_html_text),
.slotTargetSlot7 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot7 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot7 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot7 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot7
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot7
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot7
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot7
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot7
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot7
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox__yQyJq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dUxw3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 5px 0px 0px;
}
.freeBox__ePuaF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__uEioa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.freeBox__k2My0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px 0px 0px;
}
.freeBox__ifHOr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px 0px;
}
.img__oyoB1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__oyoB1 > picture > img {
  object-fit: cover;
}
.img__oyoB1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__bfeTv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__enqE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
.freeBox___9OWe9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
.freeBox__cdLyt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
.freeBox__kSmE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.freeBox___0LTij {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px;
}
.img__o8YHe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__o8YHe > picture > img {
  object-fit: cover;
}
.img__o8YHe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___7A9Tz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 180px;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  flex-shrink: 0;
}
.text__dBuxN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  font-weight: 500;
}
.freeBox___07A3F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__gm4SI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__caAjP {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot10 {
  font-size: 10px;
  font-weight: 600;
}
.slotTargetSlot10 > :global(.__wab_text),
.slotTargetSlot10 > :global(.__wab_expr_html_text),
.slotTargetSlot10 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot10 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot10 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot10 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot10
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot10
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot10
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot10
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot10
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot10
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox__ojBuA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.freeBox__c41E4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px;
}
.img__wYo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__wYo > picture > img {
  object-fit: cover;
}
.img__wYo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___8Agvk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 180px;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  flex-shrink: 0;
}
.text__xvh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  font-weight: 500;
}
.freeBox__qg3VF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__r5VnG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__p4HPw {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot11 {
  font-size: 10px;
  font-weight: 600;
}
.slotTargetSlot11 > :global(.__wab_text),
.slotTargetSlot11 > :global(.__wab_expr_html_text),
.slotTargetSlot11 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot11 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot11 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot11 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot11
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot11
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot11
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot11
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot11
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot11
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox__fskjG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px 0px;
}
.freeBox__hD5D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.img__hfRlQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__hfRlQ > picture > img {
  object-fit: cover;
}
.img__hfRlQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__kwo4Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 180px;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  flex-shrink: 0;
}
.text__vpmdu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  font-weight: 500;
}
.freeBox__hGrWn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___1NQl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__etrpN {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot12 {
  font-size: 10px;
  font-weight: 600;
}
.slotTargetSlot12 > :global(.__wab_text),
.slotTargetSlot12 > :global(.__wab_expr_html_text),
.slotTargetSlot12 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot12 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot12 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot12 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot12
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot12
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot12
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot12
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot12
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot12
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
