.article1Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  min-width: 0;
  padding: 15px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .article1Nav {
    width: auto;
    display: flex;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  padding-left: 8px;
  padding-right: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2Fs5P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 5px 5px 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2Fs5P {
    display: none;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 353px;
  font-style: italic;
  font-size: 16px;
  color: #0a0a0a;
  font-weight: 400;
  padding-top: 0px;
  min-width: 0;
}
.column___3Eu8T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3Eu8T {
    padding: 10px 50px;
  }
}
.link__kN5O {
  position: relative;
  display: flex;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 266px;
  max-height: 50px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 500px;
    flex-shrink: 0;
  }
}
.column__myP6T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 5px 47px 5px 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__myP6T {
    display: none;
  }
}
.link__m2Qa9 {
  background: var(--token-BhsJPW8OZ57v);
  position: relative;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  max-width: 203px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 10px 32px;
}
