.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  padding-bottom: 0px;
  background: #f5f5f5;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: #f5f5f5;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.columns___0Rlgy {
  --plsmc-rc-col-gap: 0px;
}
.columns___0Rlgy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 70px;
}
.columns___0Rlgy > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___0Rlgy > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Rlgy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Rlgy > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Rlgy > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__sfItw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sfItw {
    padding-left: 0px;
  }
}
.link__bdhId {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.logo {
  object-fit: cover;
  max-width: 100%;
  width: 125px;
  max-height: 50px;
  flex-shrink: 0;
}
.logo > picture > img {
  object-fit: cover;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__lHN8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lHN8 {
    padding-right: 0px;
  }
}
.aSlogan {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-size: 17px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aSlogan {
    font-size: 12px;
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 110px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .intro {
    background: #f5f5f5;
    padding: 10px;
  }
}
.heroHeadline {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-weight: 700;
  font-size: 58px;
  color: #202428;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroHeadline {
    font-size: 25px;
    width: 100%;
    margin-bottom: 15px;
    min-width: 0;
  }
}
.heroSubHeadline {
  position: relative;
  width: 100%;
  height: auto;
  color: #000000;
  font-weight: 300;
  text-align: center;
  font-size: 38px;
  margin-bottom: 30px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroSubHeadline {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.aCta {
  position: relative;
  width: 357px;
  height: 62px;
  background: #f35500;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aCta {
    margin-bottom: 15px;
    justify-content: center;
  }
}
.slotTargetSlot8 {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot8 {
    text-align: center;
  }
}
.freeBox___0Uofx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.reviewIcon2 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  align-self: auto;
}
.reviewIcon2 > picture > img {
  object-fit: contain;
}
.reviewIcon2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reviewIcon2 {
    height: 11px;
  }
}
.reviewStatement2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 400;
  color: #636363;
  margin-left: 10px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reviewStatement2 {
    font-size: 10px;
  }
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .body {
    height: auto;
    padding: 0px;
  }
}
.freeBox__wf6R0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wf6R0 {
    display: flex;
    flex-direction: column;
  }
}
.articleBody {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 861px;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  margin-bottom: 0px;
  background: #ffffff;
  align-self: flex-start;
  margin-right: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 30px 50px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .articleBody {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    align-self: center;
    height: auto;
    min-width: 0;
  }
}
.press {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
  min-width: 0;
}
.text__qJhip {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: right;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qJhip {
    font-size: 10px;
    margin-right: 5px;
  }
}
.pressIcons {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 475px;
  flex-shrink: 0;
}
.pressIcons > picture > img {
  object-fit: contain;
}
.pressIcons > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pressIcons {
    max-width: 300px;
  }
}
.paragraph1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 30px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph1 {
    font-size: 21px;
  }
}
.link__yaxWv {
  color: var(--token-a08qTbcOa7eR);
}
.h21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h21 {
    font-size: 23px;
  }
}
.link___7Fg7P {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.heroImage {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.heroImage > picture > img {
  object-fit: cover;
}
.heroImage > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 30px;
  min-width: 0;
}
.link__p1N9N {
  color: var(--token-a08qTbcOa7eR);
}
.link__fBeLa {
  color: var(--token-a08qTbcOa7eR);
}
.link___2QF87 {
  color: var(--token-a08qTbcOa7eR);
}
.h22 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h22 {
    font-size: 23px;
  }
}
.image2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  min-width: 0;
  display: none !important;
  border-radius: 12px;
}
.image2 > picture > img {
  object-fit: cover;
}
.image2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__wc0X0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
  padding: 8px;
}
.text__yo3UZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 45px;
  font-weight: 700;
  margin-right: 10px;
  color: #93896a;
}
.paragraph31 {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  min-width: 0;
}
.freeBox__ifEFt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.text__gHDgQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 45px;
  font-weight: 700;
  margin-right: 10px;
  color: #93896a;
}
.paragraph32 {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  min-width: 0;
  display: block;
}
.link__uxrXl {
  color: var(--token-a08qTbcOa7eR);
}
.h23 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h23 {
    font-size: 23px;
  }
}
.image3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  min-width: 0;
  display: none !important;
  border-radius: 12px;
}
.image3 > picture > img {
  object-fit: cover;
}
.image3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 30px;
  min-width: 0;
  display: none;
}
.paragraph411 {
  display: flex;
  position: relative;
  list-style-type: disc;
  padding-left: 22px;
}
.li__dhbqr {
  position: relative;
  color: #636363;
  font-size: 21px;
  margin-bottom: 35px;
}
.li___0ZAku {
  position: relative;
  color: #636363;
  font-size: 21px;
  margin-bottom: 35px;
}
.li__gfdjt {
  position: relative;
  color: #636363;
  font-size: 21px;
  margin-bottom: 35px;
}
.li__uT0Ib {
  position: relative;
  color: #636363;
  font-size: 21px;
  margin-bottom: 35px;
}
.li__aZGzf {
  position: relative;
  color: #636363;
  font-size: 21px;
  margin-bottom: 35px;
  padding-bottom: 0px;
}
.link__h1Swk {
  color: var(--token-a08qTbcOa7eR);
}
.li__gliWk {
  position: relative;
  color: #636363;
  font-size: 21px;
  margin-bottom: 35px;
}
.link__hH9Qo {
  color: var(--token-a08qTbcOa7eR);
}
.link__rVdvt {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  min-width: 0;
}
.image4 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.image4 > picture > img {
  object-fit: cover;
}
.image4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h24 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 700;
  min-width: 0;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h24 {
    font-size: 23px;
  }
}
.review1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}
.img__p3QVc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 5px;
}
.img__p3QVc > picture > img {
  object-fit: cover;
}
.img__p3QVc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph42 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 700;
  min-width: 0;
}
.paragraph43 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 300;
  min-width: 0;
}
.paragraph44 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 700;
  min-width: 0;
}
.review2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}
.img__mkWw2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 5px;
}
.img__mkWw2 > picture > img {
  object-fit: cover;
}
.img__mkWw2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph45 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 700;
  min-width: 0;
}
.paragraph46 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 300;
  padding-top: 0px;
  min-width: 0;
}
.paragraph47 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 700;
  min-width: 0;
}
.review3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
  min-width: 0;
}
.img__tLKnF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 5px;
}
.img__tLKnF > picture > img {
  object-fit: cover;
}
.img__tLKnF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph48 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 700;
  min-width: 0;
}
.paragraph49 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 300;
  min-width: 0;
}
.paragraph410 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 700;
  min-width: 0;
}
.h25 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h25 {
    font-size: 23px;
  }
}
.h35 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h35 {
    font-size: 21px;
  }
}
.offer2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.link___0BxF {
  position: relative;
  margin-right: 0;
  display: flex;
  width: 100%;
  min-width: 0;
}
.img__jKjHf {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 422px;
}
.img__jKjHf > picture > img {
  object-fit: contain;
}
.img__jKjHf > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jKjHf {
    height: auto;
  }
}
.img__rMbIu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
}
.img__rMbIu > picture > img {
  object-fit: cover;
}
.img__rMbIu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0Bm62 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.img___1X9Lj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
}
.img___1X9Lj > picture > img {
  object-fit: cover;
}
.img___1X9Lj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__aB3Eo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.text__kdihy {
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kdihy {
    font-size: 16px;
  }
}
.image5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  min-width: 0;
  display: none !important;
  border-radius: 12px;
}
.image5 > picture > img {
  object-fit: cover;
}
.image5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.paragraph6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 30px;
  min-width: 0;
  display: none;
}
.h26 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h26 {
    font-size: 23px;
  }
}
.freeBox__mePyH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-top: 1px solid #e4e4da;
  border-bottom: 1px solid #e4e4da;
}
.faq1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 0;
}
.freeBox__vlskr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-top: 1px solid #e4e4da;
  border-bottom: 1px solid #e4e4da;
}
.faq12 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 0;
}
.freeBox__e166Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-top: 1px solid #e4e4da;
  border-bottom: 1px solid #e4e4da;
}
.faq13 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 0;
}
.freeBox__pSrex {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-top: 1px solid #e4e4da;
  border-bottom: 1px solid #e4e4da;
}
.faq14 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 0;
}
.freeBox__h44Gp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
  border-top: 1px solid #e4e4da;
  border-bottom: 1px solid #e4e4da;
}
.faq15 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 0;
}
.image6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  min-width: 0;
  display: none !important;
  border-radius: 12px;
}
.image6 > picture > img {
  object-fit: cover;
}
.image6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h27 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 700;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h27 {
    font-size: 23px;
  }
}
.image7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  min-width: 0;
  display: none !important;
  border-radius: 12px;
}
.image7 > picture > img {
  object-fit: cover;
}
.image7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.aOutroH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-a08qTbcOa7eR);
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: left;
  align-self: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aOutroH1 {
    font-size: 19px;
    text-align: center;
  }
}
.freeBox__t4J62 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100px;
  max-width: 100%;
  margin-bottom: 30px;
  align-self: flex-start;
  flex-shrink: 0;
}
.aCta2 {
  position: relative;
  width: 275px;
  height: 62px;
  background: #f35500;
  margin-bottom: 0px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aCta2 {
    margin-bottom: 15px;
    justify-content: center;
    width: 180px;
    flex-shrink: 0;
  }
}
.slotTargetSlot7 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot7 {
    text-align: center;
    font-size: 14px;
  }
}
.freeBox__vUuZf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 3px;
  height: 100%;
  max-width: 100%;
  background: #000000;
  margin-left: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  min-height: 0;
}
.freeBox__nzrVv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.aOutroH2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aOutroH2 {
    font-size: 12px;
  }
}
.reviewIcon {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  align-self: auto;
  margin-bottom: 3px;
}
.reviewIcon > picture > img {
  object-fit: contain;
}
.reviewIcon > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reviewIcon {
    height: 11px;
    flex-shrink: 0;
  }
}
.aOutroH3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  font-weight: 400;
  color: #636363;
  margin-left: 0px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aOutroH3 {
    font-size: 10px;
  }
}
.link__sq4F9 {
  position: relative;
  margin-bottom: 0px;
  display: flex;
  width: 100%;
  align-self: auto;
  min-width: 0;
}
.aOutroImage {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  align-self: flex-start;
  min-width: 0;
  border-radius: 12px 12px 0px 0px;
}
.aOutroImage > picture > img {
  object-fit: cover;
}
.aOutroImage > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__nn4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 416px;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  align-self: auto;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nn4 {
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin: 50px 0px 0px;
  }
}
.freeBox___3HKnS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 50px;
  min-width: 0;
  border-radius: 12px;
  padding: 30px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3HKnS {
    margin-bottom: 49px;
  }
}
.reviewMugshot1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  flex-shrink: 0;
  border-radius: 100px;
}
.reviewMugshot1 > picture > img {
  object-fit: cover;
}
.reviewMugshot1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviewName1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  text-align: center;
  margin-bottom: 5px;
  min-width: 0;
}
.reviewIcon3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.reviewIcon3 > picture > img {
  object-fit: cover;
}
.reviewIcon3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviewH11 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 0;
}
.reviewP1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  text-align: center;
  font-size: 17px;
  min-width: 0;
}
.freeBox__sFkB2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 50px;
  min-width: 0;
  border-radius: 12px;
  padding: 30px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sFkB2 {
    margin-bottom: 49px;
  }
}
.reviewMugshot2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  flex-shrink: 0;
  border-radius: 100px;
}
.reviewMugshot2 > picture > img {
  object-fit: cover;
}
.reviewMugshot2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviewName2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  text-align: center;
  margin-bottom: 5px;
  min-width: 0;
}
.reviewIcon4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.reviewIcon4 > picture > img {
  object-fit: cover;
}
.reviewIcon4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviewH12 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 0;
}
.reviewP2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  text-align: center;
  font-size: 17px;
  min-width: 0;
}
.freeBox__auSp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 50px;
  min-width: 0;
  border-radius: 12px;
  padding: 30px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__auSp9 {
    margin-bottom: 49px;
  }
}
.reviewMugshot3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  flex-shrink: 0;
  border-radius: 100px;
}
.reviewMugshot3 > picture > img {
  object-fit: cover;
}
.reviewMugshot3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviewName3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  text-align: center;
  margin-bottom: 5px;
  min-width: 0;
}
.reviewIcon5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.reviewIcon5 > picture > img {
  object-fit: cover;
}
.reviewIcon5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviewH122 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 0;
}
.reviewP3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #636363;
  text-align: center;
  font-size: 17px;
  min-width: 0;
}
.freeBox__zAwo5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#00000099, #00000099), url("/plasmic/zendrop/images/dispOffergif.gif");
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  border-radius: 12px;
  padding: 30px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zAwo5 {
    margin-top: 0px;
  }
}
.reviewIcon6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.reviewIcon6 > picture > img {
  object-fit: cover;
}
.reviewIcon6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviewStatement {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  min-width: 0;
}
.ctaCardH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 20px;
  min-width: 0;
}
.ctaCardH2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #f4f4f4;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 25px;
  min-width: 0;
}
.aCta3 {
  position: relative;
  width: 100%;
  height: 62px;
  background: #f35500;
  margin-bottom: 0px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aCta3 {
    margin-bottom: 15px;
    justify-content: center;
  }
}
.slotTargetSlot9 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot9 {
    text-align: center;
  }
}
.columns__cgE0X {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  align-self: auto;
  min-width: 0;
  display: none;
  padding: 0px;
}
.columns__cgE0X > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns__cgE0X > :global(.__wab_flex-container) > *,
.columns__cgE0X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__cgE0X > :global(.__wab_flex-container) > picture > img,
.columns__cgE0X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns__cgE0X {
  --plsmc-rc-col-gap: 0px;
}
.columns__cgE0X > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__cgE0X > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cgE0X {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cgE0X > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cgE0X > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.article {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .article {
    display: flex;
  }
}
.reviews {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reviews {
    background: #f5f5f5;
    display: flex;
  }
}
