.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 740px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px var(--token-6ofeE4DSeXDu);
  border-radius: 15px;
}
.freeBox__nzFTn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  backdrop-filter: drop-shadow(10px 10px 10px #000000cc);
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000cc);
  padding: 15px 8px 16px;
}
.freeBox__l48WH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__ehXrz {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/zendrop/images/image2.jpg") top 50% left 50% / cover repeat;
  margin-right: 25px;
  flex-shrink: 0;
  display: none;
  border-radius: 10px;
  padding: 8px;
}
.img__gnqri {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__gnqri > picture > img {
  object-fit: cover;
}
.img__gnqri > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__pIpn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  padding: 0px;
}
.freeBox__rFr1E {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-size: 24px;
  font-weight: 900;
  color: #636363;
}
.text__paxJm {
  font-size: 18px;
  width: 210px;
  flex-shrink: 0;
}
.text__lmU7P {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  color: #636363;
  display: none;
}
.freeBox__nOfwt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
.freeBox__rbhWw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.img__wcvN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__wcvN > picture > img {
  object-fit: cover;
}
.img__wcvN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__sPlPp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qn4Mn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox__duNHf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__aSTyM {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot {
  font-size: 16px;
  font-weight: 600;
}
.slotTargetSlot > :global(.__wab_text),
.slotTargetSlot > :global(.__wab_expr_html_text),
.slotTargetSlot > :global(.__wab_slot-string-wrapper),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox__wKsi2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px 8px;
}
.link {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #80cf9a;
  border-radius: 5px;
  padding: 0px 8px;
}
.text__nHrWa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
  margin-right: 15px;
  margin-left: 15px;
}
.freeBox__cx1R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nAhXh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 5px 0px 0px;
}
.freeBox__wwVyV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox___0DbTz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dSdNc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__i5IHl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___4K1B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zt8Wf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__ojQj9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__ojQj9 > picture > img {
  object-fit: cover;
}
.img__ojQj9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__uXu7X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  flex-shrink: 0;
  padding: 8px;
}
.text__jAjo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.freeBox__kxLeY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox___4MUj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__ypOsO {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot4 {
  font-size: 14px;
  font-weight: 600;
}
.slotTargetSlot4 > :global(.__wab_text),
.slotTargetSlot4 > :global(.__wab_expr_html_text),
.slotTargetSlot4 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot4 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot4 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot4 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot4
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox__aFr8L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__v0Lrn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__ofOOf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__ofOOf > picture > img {
  object-fit: cover;
}
.img__ofOOf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__heKx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  flex-shrink: 0;
  padding: 8px;
}
.text__vxqaS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.freeBox__t6Rib {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox__xIm7S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox__zV0El {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot5 {
  font-size: 14px;
  font-weight: 600;
}
.slotTargetSlot5 > :global(.__wab_text),
.slotTargetSlot5 > :global(.__wab_expr_html_text),
.slotTargetSlot5 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot5 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot5 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot5 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox__oSlBz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__v2BfL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__ahgKl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 15px;
  width: 120px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 5px;
}
.img__ahgKl > picture > img {
  object-fit: cover;
}
.img__ahgKl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ast4E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  flex-shrink: 0;
  padding: 8px;
}
.text__hrDq3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.freeBox__ad6Ix {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox___6Cpqp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox___0HVhu {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot6 {
  font-size: 14px;
  font-weight: 600;
}
.slotTargetSlot6 > :global(.__wab_text),
.slotTargetSlot6 > :global(.__wab_expr_html_text),
.slotTargetSlot6 > :global(.__wab_slot-string-wrapper),
.slotTargetSlot6 > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot6 > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot6 > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot6
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
