.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__jzICa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #93896a;
  min-width: 0;
  padding: 0px;
}
.text__uFfEq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
.freeBox___0N25I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 15px 0px;
}
.freeBox__gGEyA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 130px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gGEyA {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
}
.link__t3UuB {
  position: relative;
  display: flex;
}
.link__mj4Nk {
  position: relative;
  display: flex;
}
.img__jrvhV {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__jrvhV > picture > img {
  object-fit: contain;
}
.img__jrvhV > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.logo {
  object-fit: contain;
  max-width: 100%;
  max-height: 50px;
  width: 125px;
  margin-right: 30px;
  flex-shrink: 0;
}
.logo > picture > img {
  object-fit: contain;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo {
    margin-right: 75px;
    margin-left: 75px;
  }
}
.link__bOv9G {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bOv9G {
    display: none;
  }
}
.link__xsmqI {
  position: relative;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xsmqI {
    display: none;
  }
}
.link__lpx4V {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lpx4V {
    display: none;
  }
}
.link__vwjB8 {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vwjB8 {
    display: none;
  }
}
.link__jqt9X {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__jqt9X {
    display: none;
  }
}
.link__sip6D {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 300px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__sip6D {
    display: none;
  }
}
.link___7WOqD {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7WOqD {
    display: none;
  }
}
.link__dfIk4 {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__dfIk4 {
    display: none;
  }
}
.link__zPvLp {
  position: relative;
  height: auto;
  color: #93896a;
  font-size: 12px;
  margin-right: 5px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zPvLp {
    display: none;
  }
}
.link__gunxY {
  position: relative;
  display: flex;
}
.img__aeplv {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  flex-shrink: 0;
}
.img__aeplv > picture > img {
  object-fit: contain;
}
.img__aeplv > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__lX5Gn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lX5Gn {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
.hiconsH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 37px;
  font-weight: 300;
  color: #93896a;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsH1 {
    font-size: 25px;
  }
}
.freeBox__ebt0B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebt0B {
    width: 392px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__v9Qsz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v9Qsz {
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.hiconsIcon1 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon1 > picture > img {
  object-fit: contain;
}
.hiconsIcon1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel1 {
    font-size: 14px;
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.freeBox__uyHUl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uyHUl {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon2 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon2 > picture > img {
  object-fit: contain;
}
.hiconsIcon2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel2 {
    font-size: 14px;
  }
}
.freeBox__oUb8O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oUb8O {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon3 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon3 > picture > img {
  object-fit: contain;
}
.hiconsIcon3 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon4 {
    font-size: 14px;
  }
}
.freeBox___0Kt48 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.hiconsIcon5 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon5 > picture > img {
  object-fit: contain;
}
.hiconsIcon5 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  color: #93896a;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon6 {
    font-size: 14px;
  }
}
.offer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 10px;
  }
}
.offer1:global(.__wab_instance) {
  position: relative;
}
.link__x8F9K {
  position: relative;
  margin-right: 0;
  display: flex;
}
.offerImage {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 423px;
}
.offerImage > picture > img {
  object-fit: contain;
}
.offerImage > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offerImage {
    object-fit: contain;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .offerImage > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .offerImage > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.offerVariant1Url {
  position: relative;
  display: flex;
}
.offerVariant1Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant1Image > picture > img {
  object-fit: cover;
}
.offerVariant1Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant1Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerVariant2Url {
  position: relative;
  display: flex;
}
.offerVariant2Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant2Image > picture > img {
  object-fit: cover;
}
.offerVariant2Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant2Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerH2 {
  padding-right: 0px;
}
.offerParagraph {
  padding-left: 0px;
}
.products {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 110px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .products {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 23px;
  }
}
.columns__gB42S {
  --plsmc-rc-col-gap: 0px;
}
.columns__gB42S {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__gB42S > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__gB42S > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__gB42S > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gB42S {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gB42S > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rSab {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rSab {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__lDlIf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__e3MTj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__e3MTj > picture > img {
  object-fit: cover;
}
.img__e3MTj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__yvg0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__yvg0 > picture > img {
  object-fit: cover;
}
.img__yvg0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__gXjFu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__gXjFu > picture > img {
  object-fit: cover;
}
.img__gXjFu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__ffjgy:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__i3Acp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column___40Qhj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___40Qhj {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1___7Tz5I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__hwdSm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__hwdSm > picture > img {
  object-fit: cover;
}
.img__hwdSm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__mhZbE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__mhZbE > picture > img {
  object-fit: cover;
}
.img__mhZbE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__tVuyv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__tVuyv > picture > img {
  object-fit: cover;
}
.img__tVuyv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__oIUsq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__vHPz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__vBa3T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vBa3T {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__oZ364:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__pEzpI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__pEzpI > picture > img {
  object-fit: cover;
}
.img__pEzpI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___1RgDl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___1RgDl > picture > img {
  object-fit: cover;
}
.img___1RgDl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__iA920 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__iA920 > picture > img {
  object-fit: cover;
}
.img__iA920 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__zru32:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__mfz1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.columns___01PAz {
  --plsmc-rc-col-gap: 0px;
}
.columns___01PAz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns___01PAz > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___01PAz > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___01PAz > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___01PAz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___01PAz > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fAd7X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fAd7X {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__hxMbB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__hPygx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__hPygx > picture > img {
  object-fit: cover;
}
.img__hPygx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__bXhbf {
  padding-right: 0px;
}
.text__wLbF6 {
  padding-right: 0px;
}
.img__yuVq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__yuVq > picture > img {
  object-fit: cover;
}
.img__yuVq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__euZVs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__euZVs > picture > img {
  object-fit: cover;
}
.img__euZVs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__wbQW:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__jgmW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__c1Mbo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__c1Mbo {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__n7HKb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__kCz2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  min-width: 0;
}
.img__kCz2 > picture > img {
  object-fit: cover;
}
.img__kCz2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__dRihf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__dRihf > picture > img {
  object-fit: cover;
}
.img__dRihf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___4Zmb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___4Zmb > picture > img {
  object-fit: cover;
}
.img___4Zmb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__aUB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__dpWix {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__igj9O {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__igj9O {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__aKiAd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__lOrdd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__lOrdd > picture > img {
  object-fit: cover;
}
.img__lOrdd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__wQl0P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__wQl0P > picture > img {
  object-fit: cover;
}
.img__wQl0P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__yb2X1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__yb2X1 > picture > img {
  object-fit: cover;
}
.img__yb2X1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__jlvFm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__oyi1U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
