.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 740px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px var(--token-6ofeE4DSeXDu);
  border-radius: 15px;
}
.freeBox__zByFl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  backdrop-filter: drop-shadow(10px 10px 10px #000000cc);
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000cc);
  padding: 15px 8px 16px;
}
.freeBox__pWlfL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__cfxRf {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/zendrop/images/image2.jpg") top 50% left 50% / cover repeat;
  margin-right: 25px;
  flex-shrink: 0;
  display: none;
  border-radius: 10px;
  padding: 8px;
}
.img__j5SGy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__j5SGy > picture > img {
  object-fit: cover;
}
.img__j5SGy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__i9YsC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
  padding: 0px;
}
.freeBox___609U6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-size: 24px;
  font-weight: 900;
  color: #636363;
}
.text___6W6N {
  font-size: 18px;
  width: 210px;
  flex-shrink: 0;
}
.text__zeGkJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  color: #636363;
  display: none;
}
.freeBox___6BfpT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
.freeBox__luToE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.img__mIzMa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__mIzMa > picture > img {
  object-fit: cover;
}
.img__mIzMa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__vYqIq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___8Uogv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox__yOh4K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px;
}
.freeBox___1A9Z6 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetSlot {
  font-size: 16px;
  font-weight: 600;
}
.slotTargetSlot > :global(.__wab_text),
.slotTargetSlot > :global(.__wab_expr_html_text),
.slotTargetSlot > :global(.__wab_slot-string-wrapper),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: line-through;
}
.freeBox___2Dug3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 0px 8px;
}
.link {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #80cf9a;
  border-radius: 5px;
  padding: 0px 8px;
}
.text__dkSh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
  margin-right: 15px;
  margin-left: 15px;
}
.freeBox__fBnjc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__edqus {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 5px 0px 0px;
}
.freeBox__ym0Wu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
